*{ box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
html{
    box-sizing: border-box;
    
}
body{
    font-family:cursive;
    width: 100%;
    background-color: #f4f4f4;
}
.main-header{
    background-color: green;
    color: white;
    padding: 1em 0;
}
.titlebox{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}
.container{
  width: 80%;
  margin: auto;

}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(213, 202, 202);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
form{
    margin-bottom: 15px;
}
form input[type=submit]{
    background-color: rgb(27, 25, 25);
    border: none;
    color: white;
    padding: 4px 6px;
    border-radius: 3px;
    
}
form input[type=submit]:hover{
    background-color: #f4f4f4;
    color: black;
    cursor: pointer;
}
form input[type=text]{
    border: 1px solid rgb(213, 202, 202);
    border-radius: 3px;
    padding: 4px;

}
.search input[type=text]{
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(213, 202, 202);
    border-radius: 3px;
    

    
}
ul  .list{
  border-bottom: solid 1px rgb(213, 202, 202);
    
}
.list:last-child{
    border-bottom:none;
}

button{
    
    margin :auto;
    width: 5vw;
    padding: 2px;
    border: none;
    color: white;
    background-color: rgb(221, 17, 17);
    border-radius: 4px;
    float: right;
   
}
button:hover{
    background-color:#f4f4f4;
    color: black;
    cursor: pointer;

}


